  <h1>Welcome</h1>
  <form name="sign_in" action="/create_session" method="post">
    <input id="contact_email" type="text" size="40" name="email" placeholder="Email">
    <br>
    <input id="password" type="password" name="password" placeholder="Password">
    <br>
    <button id="contact_btn" type="submit">Sign In</button>
  </form>
  <hr>

    <p>New user?</p>
    <a href="/signup" type="submit">Sign Up</a>
